<section>
    <div class="pick-generator">
        <div ng-repeat="(key, stack) in stacks">
            <div>
                Stack: {{stack.qb.name}} - {{stack.flex.name}}

                <div class="generator-button">
                    <button class="button--primary" ng-hide="stack.generatedPicks" ng-click="generatePicks(key);">Generate Picks</button>
                </div>
                <div ng-show="stack.generatedPicks">
                    <div ng-repeat="lineup in stack.lineups">
                        {{$index}} - {{::lineup.totalSalary}} - {{::lineup.rb1.name}} - {{::lineup.rb2.name}} - {{::lineup.wr1.name}} - {{::lineup.wr2.name}} - {{::lineup.wr3.name}} - {{::lineup.te.name}} - {{::lineup.def.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>